@import "timeline-mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cursor-star {
	position: absolute;
	width: 5px;
	height: 5px;
	background: radial-gradient(circle, #fff 50%, transparent 50%);
	pointer-events: none; /* gwiazdki nie będą przechwytywać kliknięć */
	opacity: 1;
	transform: scale(1);
	transition: opacity 0.5s ease-out, transform 0.5s ease-out;
	filter: blur(1px);
}

body {
	cursor: url("data:image/svg+xml,%3Csvg%20width%3D'32'%20height%3D'32'%20viewBox%3D'0%200%2032%2032'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cdefs%3E%3Cfilter%20id%3D'neon'%20x%3D'-50%25'%20y%3D'-50%25'%20width%3D'200%25'%20height%3D'200%25'%3E%3CfeDropShadow%20dx%3D'0'%20dy%3D'0'%20stdDeviation%3D'2'%20flood-color%3D'%233b91dc'%20flood-opacity%3D'1'%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath%20fill%3D'%23ffffff'%20stroke%3D'%23053081'%20stroke-width%3D'1'%20d%3D'M4%204%20L28%2016%20L20%2016%20L20%2028%20Z'%20filter%3D'url(%23neon)'%2F%3E%3C%2Fsvg%3E")
			4 4,
		auto;

	background-image: linear-gradient(
		to bottom,
		black 0%,
		rgb(5, 9, 32) 15%,
		rgb(3, 8, 36) 30%,
		rgb(7, 13, 46) 45%,
		rgb(14, 21, 59) 60%,
		rgb(22, 31, 78) 75%,
		rgb(35, 46, 106) 85%,
		rgb(62, 76, 101) 95%,
		rgb(125, 118, 86) 100%
	);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

	// Stars styles
	// ==========================================
	// ==========================================

	#particles-js {
		position: fixed;
		z-index: -1;
		width: 100vw;
		min-height: 100vh;
	}

	.particles-js-canvas-el {
		width: 100%;
		height: 100%;
		position: fixed;
	}

	// Header
	// ==========================================
	// ==========================================
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px;
		align-items: center;
		background-attachment: fixed;

		.myInitials {
			font-size: 2rem;
			font-family: "Love Light", cursive;
		}

		a {
			text-decoration: none;
			color: whitesmoke;
			i {
				font-size: 2rem;
				padding: 5px;
			}
		}
	}

	// Styles of greeting part with navigation
	// ==========================================
	// ==========================================

	.firstSide {
		height: 90vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		font-family: "Newsreader", sans-serif;

		h1 {
			font-size: 3rem;
		}
		.title {
			margin-bottom: 20px;
			font-size: 2rem;
		}

		ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 20px;
			list-style: none;
			padding: 20px;
			li {
				a {
					font-style: italic;
					font-size: 1.2rem;
					letter-spacing: 1px;
					text-decoration: none;
					color: whitesmoke;
					display: inline-block;
					transition: transform 0.3s ease, box-shadow 0.3s ease;
				}

				a:hover {
					transform: scale(1.1) translateY(-5px);
					text-shadow: 0 0px 20px rgb(252, 252, 252);
				}
			}
		}

		.downloadCV {
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 20px;
			padding: 20px 25px;
			text-decoration: none;
			color: whitesmoke;
			max-width: max-content;
			box-shadow: 0 0 15px 1px whitesmoke;
			position: relative;
			overflow: hidden;
		}

		.downloadCV::before {
			content: "";
			position: absolute;
			top: 0;
			left: -20%;
			width: 40%;
			height: 100%;
			background: linear-gradient(
				60deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0.4) 50%,
				rgba(255, 255, 255, 0) 100%
			);

			transform: skewX(-30deg);
			opacity: 0;
			transition: left 0.7s ease-in-out, opacity 0.8s ease;
			pointer-events: none;
		}

		.downloadCV:hover::before {
			left: 120%;
			opacity: 1;
		}
	}
	h2 {
		padding: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
	}

	// Main part styles
	// ==========================================
	// ==========================================
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		letter-spacing: 1px;
		padding: 20px;

		

		section {
			height: 100vh;
			width: 90vw;
			padding: 20px;
		}

		// About me section
		//
		#about {
			display: flex;
			flex-direction: column;

			.aboutMe-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				flex-wrap: wrap;

				// My photo styles
				// ==========================================
				// ==========================================

				.myPhoto-container {
					aspect-ratio: 1/1;
					position: relative;
					width: 400px;
					.myPhoto {
						position: absolute;
						object-fit: cover;
						width: 100%;
						height: 100%;
						border-radius: 5px;
					}
				}

				p {
					display: flex;
					width: 40vw;
					letter-spacing: 1px;
					font-size: 1.2rem;
					background-color: rgba(245, 245, 245, 0.125);
					padding: 40px;
					align-items: center;
					justify-content: center;
					text-align: justify;
					line-height: 2rem;
					color: rgb(250, 248, 244);
					border-radius: 5px;
				}
			}
		}

		// Education section
		// ====================================
		// ====================================

		#education {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.education-timeline {
				@include timeline-base;

				// The vertical line
				.timeline-line {
					@include timeline-line(whitesmoke);
				}

				.container {
					@include timeline-container(left);

					.timeline-item {
						@include timeline-item;
					}
				}

				.left-container {
					@include timeline-container(left);
				}

				.right-container {
					@include timeline-container(right);
				}
			}
		}

		// Experience section
		// ================================
		// ================================

		#experience {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 200vh;

			.experience-timeline {
				@include timeline-base;

				.timeline-line {
					@include timeline-line(#ccc);
				}

				.experienceItem-container {
					@include timeline-container(left);

					.experience-item {
						@include timeline-item();
					}
				}

				.left-container {
					@include timeline-container(left);
				}

				.right-container {
					@include timeline-container(right);
				}
			}
		}
	}

	footer {
		position: relative;
		background: url(/assets/ForestFooter.svg)  no-repeat bottom center;;
		background-size: cover;
		height: 100vh;
	}
}
