* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(
		to bottom,
		black 50px,
		rgb(5, 9, 32),
		rgb(7, 12, 40),
		rgb(11, 18, 56),
		rgb(16, 25, 74),
		rgb(23, 33, 91),
		rgb(35, 46, 106),
		rgb(112, 54, 10)
	);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;

	// Stars styles
	// ==========================================
	// ==========================================

	#particles-js {
		position: fixed;
		z-index: -1;
		width: 100vw;
		min-height: 100vh;
	}

	.particles-js-canvas-el {
		width: 100%;
		height: 100%;
		position: fixed;
	}

	// Header
	// ==========================================
	// ==========================================
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px;
		align-items: center;
		background-attachment: fixed;

		.myInitials {
			font-size: 2rem;
			font-family: "Love Light", cursive;
		}

		i {
			font-size: 2rem;
			padding: 5px;
		}
	}

	// Styles of greeting part with navigation
	// ==========================================
	// ==========================================

	.firstSide {
		height: 90vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		font-family: "Newsreader", sans-serif;

		h1 {
			font-size: 3rem;
		}
		.title {
			margin-bottom: 20px;
			font-size: 2rem;
		}

		ul {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 20px;
			list-style: none;
			padding: 20px;
			li {
				a {
					font-style: italic;
					font-size: 1.2rem;
					letter-spacing: 1px;
					text-decoration: none;
					color: whitesmoke;
					display: inline-block;
					transition: transform 0.3s ease, box-shadow 0.3s ease;
				}

				a:hover {
					transform: scale(1.1) translateY(-5px);
					text-shadow: 0 0px 20px rgb(252, 252, 252);
				}
			}
		}

		.downloadCV {
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 20px;
			padding: 20px 25px;
			text-decoration: none;
			color: whitesmoke;
			max-width: max-content;
			box-shadow: 0 0 15px 1px whitesmoke;
			position: relative;
			overflow: hidden;
		}

		.downloadCV::before {
			content: "";
			position: absolute;
			top: 0;
			left: -20%;
			width: 40%;
			height: 100%;
			background: linear-gradient(
				60deg,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0.4) 50%,
				rgba(255, 255, 255, 0) 100%
			);

			transform: skewX(-30deg);
			opacity: 0;
			transition: left 0.7s ease-in-out, opacity 0.8s ease;
			pointer-events: none;
		}

		.downloadCV:hover::before {
			left: 120%;
			opacity: 1;
		}
	}

	// Main part styles
	// ==========================================
	// ==========================================
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		letter-spacing: 1px;
		padding: 20px;

		h2 {
			padding: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3rem;
		}

		section {
			height: 100vh;
			width: 90vw;
			padding: 20px;
		}

		// About me section
		//
		#about {
			display: flex;
			flex-direction: column;

			.aboutMe-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				flex-wrap: wrap;

				// My photo styles
				// ==========================================
				// ==========================================

				.myPhoto-container {
					aspect-ratio: 1/1;
					position: relative;
					width: 400px;
					.myPhoto {
						position: absolute;
						object-fit: cover;
						width: 100%;
						height: 100%;
						border-radius: 5px;
					}
				}

				p {
					display: flex;
					width: 40vw;
					letter-spacing: 1px;
					font-size: 1.2rem;
					background-color: rgba(245, 245, 245, 0.125);
					padding: 40px;
					align-items: center;
					justify-content: center;
					text-align: justify;
					line-height: 2rem;
					color: rgb(250, 248, 244);
					border-radius: 5px;
				}
			}
		}
	}

	footer {
		background-color: black;
	}
}
